<?xml version="1.0"?>
<robot name="USL06-H5" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="parent_link"     default="base_link"/>
  <xacro:arg name="sensor_frame_id" default="force_sensor"/>

  <xacro:include filename="$(find tecgihan_driver)/urdf/sensor.urdf.xacro" />

  <link name="$(arg parent_link)"/>

  <xacro:sensor_model parent="$(arg parent_link)" sensor_frame_id="$(arg sensor_frame_id)"
                      base_width_x = "0.020"
                      base_width_y = "0.020"
                      base_height  = "0.0045"
                      cylinder_height = "0.004"
                      cylinder_radius = "0.003"
                      overall_height  = "0.005"
                      />

</robot>